<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>tests.ProductPage_Tests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test_HomePage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ProductPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_StorePage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ShoesPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ProductPostage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
