<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b66870">  <td>17/11/02 02:14:30</td>   <td>0</td> <td title="&gt;&gt;TestBase.beforeSuite()[pri:0, instance:tests.ProductPage_Tests@5c7fa833]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1783593083</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>17/11/02 02:14:30</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:tests.ProductPage_Tests@5c7fa833]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1783593083</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>17/11/02 02:14:43</td>   <td>12298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductPage_Tests.test_HomePage()[pri:0, instance:tests.ProductPage_Tests@5c7fa833]">test_HomePage</td> 
  <td>main@1783593083</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>17/11/02 02:14:43</td>   <td>12579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:tests.ProductPage_Tests@5c7fa833]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1783593083</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>17/11/02 02:14:43</td>   <td>12717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:tests.ProductPage_Tests@5c7fa833]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1783593083</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>17/11/02 02:14:51</td>   <td>20649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductPage_Tests.test_ProductPage()[pri:0, instance:tests.ProductPage_Tests@5c7fa833]">test_ProductPage</td> 
  <td>main@1783593083</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>17/11/02 02:15:36</td>   <td>66063</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:tests.ProductPage_Tests@5c7fa833]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1783593083</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>17/11/02 02:15:37</td>   <td>66289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:tests.ProductPage_Tests@5c7fa833]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1783593083</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>17/11/02 02:15:44</td>   <td>73838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductPage_Tests.test_ProductPostage()[pri:0, instance:tests.ProductPage_Tests@5c7fa833]">test_ProductPostage</td> 
  <td>main@1783593083</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>17/11/02 02:16:28</td>   <td>118109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:tests.ProductPage_Tests@5c7fa833]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1783593083</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>17/11/02 02:16:29</td>   <td>118368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:tests.ProductPage_Tests@5c7fa833]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1783593083</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>17/11/02 02:16:36</td>   <td>125976</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductPage_Tests.test_ShoesPage()[pri:0, instance:tests.ProductPage_Tests@5c7fa833]">test_ShoesPage</td> 
  <td>main@1783593083</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>17/11/02 02:16:41</td>   <td>130813</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:tests.ProductPage_Tests@5c7fa833]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1783593083</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>17/11/02 02:16:41</td>   <td>131034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod()[pri:0, instance:tests.ProductPage_Tests@5c7fa833]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1783593083</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>17/11/02 02:16:53</td>   <td>142294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductPage_Tests.test_StorePage()[pri:0, instance:tests.ProductPage_Tests@5c7fa833]">test_StorePage</td> 
  <td>main@1783593083</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>17/11/02 02:17:20</td>   <td>169543</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:tests.ProductPage_Tests@5c7fa833]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1783593083</td>   <td></td> </tr>
</table>
